// Adapted from modern-css-reset@1.4.0 by Andy Bell
// Original: https://github.com/Andy-set-studio/modern-css-reset/blob/e7500a6c7fa35be8d23f95b6e85f2cde0203f422/src/reset.css
// Changes: commented section prefers-reduced-motion

/* Box sizing rules */
*,
*::before,
*::after
  box-sizing: border-box


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd
  margin: 0


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"]
  list-style: none


/* Set core root defaults */
html:focus-within
  scroll-behavior: smooth


/* Set core body defaults */
body
  min-height: 100vh
  text-rendering: optimizeSpeed
  line-height: 1.5


/* A elements that don't have a class get default styles */
a:not([class])
  text-decoration-skip-ink: auto


/* Make images easier to work with */
img,
picture
  max-width: 100%
  display: block


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select
  font: inherit


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce)
  html:focus-within
   scroll-behavior: auto

  *,
  *::before,
  *::after
    // UPDATE: Unfortunately, Chrome reads the prefers-reduced-motion setting directly from the system
    // with no mean to override it. As such, disabling animations (like windows effects) on the system
    // will activate the prefers-reduced-motion option...
    // related issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1406889
    // animation-duration: 0.01ms !important
    // animation-iteration-count: 1 !important
    // transition-duration: 0.01ms !important
    scroll-behavior: auto !important
